h2{text-align: center;}
h2{margin:auto}
.botão{text-align: center;}
.tabela-link{text-align: center;}
h1
{
color : hsl(0, 0%, 0%)

}
form{
 margin:auto
}

body {
    background-color: #910089;
    padding: 0;
    margin:3px
    
  }


  footer {
     line-height: 100px;
    background-color: rgb(73, 4, 4);
    width: 100%;
    text-align: center;
    line-height: 30px;
    bottom: 0;
    position: absolute;
}

  
  a{
  background-color: rgb(158, 39, 39);
  color: blanchedalmond;
  width:104px;
  _width:120px; /* hack para IE */
  background:#470303;
  padding:5px;
  border:3px inset #cccccc;
  }
  
#link-foto{
    display: block;
    margin: 3px;
}
#descricao{
    display: block;
    margin: 3px;
}
#preco{
    display: block;
    margin: 3px;
}
#txt-quantidade{
    display: block;
    margin: 3px;
}
table{
    margin:auto
}