h1
{
color : hsl(0, 0%, 0%)

}

h2
{
color : hsl(0, 0%, 0%)

}

div{text-align:center}



body {
    background-color: #94598e;
    padding: 0;
    margin:3px
    
  }


  footer {
     line-height: 100px;
    background-color: rgb(73, 4, 4);
    width: 100%;
    text-align: center;
    line-height: 30px;
    bottom: 0;
    position: absolute;
}

div {
  margin-top: 10px;
  margin-bottom: 10px;
  }

  h2{text-align:center}


  tr {
    background-color: rgb(81, 28, 179);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:center }


    table{
        margin:auto
        
        

    }

    a{
        background-color: rgb(44, 20, 20);
        color: blanchedalmond;
        width:104px;
        _width:120px; /* hack para IE */
        background:#470303;
        padding:5px;
        border:3px inset #cccccc;
        }
        