
  

h1{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}






div{text-align:center}



body {
    background-color: #94598e;
    padding: 0;
    margin:3px
    
  }


  footer {
     line-height: 100px;
    background-color: rgb(57, 4, 73);
    width: 100%;
    text-align: center;
    line-height: 30px;
    bottom: 0;
    position: absolute;
}

div {
  margin-top: 10px;
  margin-bottom: 10px;
  }

a{
background-color: rgb(158, 39, 39);
color: blanchedalmond;
width:104px;
_width:120px; /* hack para IE */
background:#470303;
padding:5px;
border:3px inset #cccccc;
}
}
    